@import url(bootstrap.min.css);
@import url(font-awesome.css);
html,
body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
ul,
li {
  list-style: none;
}
/**************************index***************************/
#banner {
  height: 13.75rem;
  background: silver;
}
#mainContent {
  margin-bottom: 1.25rem;
}
#mainContent .contentHead {
  height: 3.125rem;
}
#mainContent .col-lg-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#mainContent .itemContent {
  width: 100%;
  min-height: 256px;
  margin-bottom: 1.25rem;
}
#mainContent .itemContent a {
  text-decoration: none;
}
#mainContent .itemContent a .card img {
  max-width: 100%;
}
#mainContent .itemContent a .card .card-body {
  padding: 0.3125rem;
  border-top: 1px solid #e7e7e7;
}
#mainContent .itemContent a .card .card-body p {
  color: red;
}
#mainContent .itemContent a .card .card-body .item-title {
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footer {
  width: 100%;
  height: 3.75rem;
  background: #000000;
}
/*******************************content*******************************/
#goods {
  margin-top: 30px;
  margin-bottom: 120px;
}
#goods .goodsImg {
  width: 31.25rem;
  height: 31.25rem;
  overflow: hidden;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  background: #E7E7E7;
  margin-bottom: 0.625rem;
  padding-top: 15.625rem;
}
#goods .goodsImg img {
  max-width: 100%;
  transform: translateY(-50%);
  display: none;
}
#goods .goodsImg .showThis {
  display: block;
}
#goods .goodsThumb ul li {
  width: 5rem;
  height: 5rem;
  float: left;
  overflow: hidden;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin: 0.3125rem;
  border: 1px solid #e7e7e7;
  background: #E7E7E7;
  cursor: pointer;
}
#goods .goodsThumb ul li img {
  max-width: 100%;
  max-height: 100%;
}
#goods .goodsThumb ul .nowThis {
  border: 1px solid red;
}
#goods .goodsMsg .btn-light {
  border-color: transparent;
}
#goods .goodsMsg .active {
  background: #FF6478 !important;
  color: #ffffff;
}
#goods .goodsMsg #button-addon1 {
  background: none;
  color: #000000;
}
#goods .goodsMsg #button-addon2 {
  background: none;
  color: #000000;
}
#goods .goodsMsg #goodsNum {
  width: 60px;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: center;
}
#goods .goodsMsg p {
  color: #000000;
  line-height: 38px;
}
#goods .goodsMsg .buyBtn {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
}
#goods .goodsMsg .buyBtn button {
  margin-right: 20px;
}
#goodsMainmsg h6 {
  color: #ff6478;
  line-height: 32px;
  padding-left: 75px;
}
#goodsMainmsg .goodsIntro {
  border-top: 1px solid #e7e7e7;
  padding-top: 30px;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: center;
}
#goodsMainmsg .goodsIntro img {
  max-width: 100%;
  margin-bottom: 30px;
}
/***************************order***************************/
#order {
  width: 100%;
  background: #fafafc;
  /********************finorder**********************/
}
#order h5 {
  margin-bottom: 10px;
}
#order .col-xl-12 {
  background: #ffffff;
  border: 1px solid #e6e7e8;
  margin-bottom: 10px;
  padding: 20px 30px;
}
#order .col-xl-12 > p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
#order .col-xl-12 > p img {
  margin-right: 2px;
}
#order .col-xl-12 .address form {
  margin-bottom: 10px;
  font-size: 12px;
  color: #64646e;
}
#order .col-xl-12 .address form select,
#order .col-xl-12 .address form input {
  font-size: 12px;
  color: #64646e;
}
#order .col-xl-12 .address form button {
  margin-top: 20px;
}
#order .col-xl-12 .existAddress ul li {
  width: 240px;
  height: 150px;
  background: url(../img/adress-mianbg.png);
  margin: 10px 10px 20px 0;
  float: left;
  padding: 5px 15px;
  font-size: 12px;
}
#order .col-xl-12 .existAddress ul li h6 {
  border-bottom: 1px solid #e7e7e7;
  line-height: 36px;
  margin-bottom: 10px;
}
#order .col-xl-12 .existAddress ul li h6 span {
  margin-right: 20px;
  font-size: 12px;
}
#order .col-xl-12 .existAddress ul li p {
  height: 54px;
  overflow: hidden;
  margin-bottom: 10px;
}
#order .col-xl-12 .existAddress ul li a {
  color: #80BDFF;
  cursor: pointer;
  display: none;
}
#order .col-xl-12 .existAddress ul li a:hover {
  color: #007BFF;
}
#order .col-xl-12 .existAddress ul li:hover {
  background-position-y: 150px ;
}
#order .col-xl-12 .existAddress ul .thisAddress {
  background-position-y: 150px ;
}
#order .col-xl-12 .existAddress ul .thisAddress .reviseAddress a {
  display: inline-block;
}
#order .col-xl-12 .addAddress {
  clear: both;
}
#order .col-xl-12 .addAddress a {
  background: url(../img/adress-add.png) no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  cursor: pointer;
}
#order .col-xl-12 .goodsList {
  width: 100%;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  height: 140px;
}
#order .col-xl-12 .goodsList div {
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: center;
  padding: 0;
  height: 100px;
  line-height: 100px;
}
#order .col-xl-12 .goodsList div p {
  color: #64646e;
  font-size: 12px;
}
#order .col-xl-12 .goodsList .bg {
  background: #fafafb;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
}
#order .col-xl-12 .goodsList .goodsId {
  padding-left: 50px;
  padding-top: 10px;
}
#order .col-xl-12 .goodsList .goodsId img {
  width: 4.875rem;
  height: 78px;
  float: left;
  border: 1px solid #e6e6e6;
  margin-right: 10px;
}
#order .col-xl-12 .goodsList .goodsId div {
  margin-top: 10px;
}
#order .col-xl-12 .goodsList .goodsId div p {
  line-height: 18px;
  text-align: left;
}
#order .col-xl-12 .payType p {
  font-size: 12px;
}
#order .col-xl-12 .payType p input {
  vertical-align: middle;
  margin-right: 3px;
}
#order .col-xl-12 .payType .otherPay {
  padding-left: 20px;
}
#order .col-xl-12 .payType .otherPay a {
  display: inline-block;
  width: 150px ;
  height: 42px;
  text-decoration: none;
  color: #000000;
  margin-right: 10px;
  border: 2px solid #e6e6e6;
  padding-top: 4px;
  padding-left: 10px;
}
#order .col-xl-12 .payType .otherPay a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#order .col-xl-12 .payType .otherPay a:hover {
  border-color: #FF6478;
}
#order .col-xl-12 .payType .otherPay .thisPay {
  border-color: #FF6478;
}
#order .col-xl-12 .priceMsg li {
  text-align: -moz-right;
  text-align: -webkit-right;
  text-align: right;
  margin-bottom: 8px;
  color: #64646e;
}
#order .col-xl-12 .priceMsg li span {
  display: inline-block;
  width: 80px;
  color: #000000;
}
#order .orderNum {
  padding: 0!important;
}
#order .orderNum h6 {
  background: #e7e7e7;
  padding-left: 20px;
  line-height: 50px;
}
#order .orderNum h6 b {
  margin-right: 30px;
  display: inline-block;
  width: 200px;
}
#order .orderNum h6 span {
  color: #E0A800;
}
#order .orderNum .orderStep {
  min-height: 130px;
}
#order .orderNum .orderStep ul {
  margin: 60px 0 0 150px;
}
#order .orderNum .orderStep li {
  float: left;
  position: relative;
  text-align: center;
  width: 165px;
}
#order .orderNum .orderStep li i {
  display: inline-block;
  width: 140px;
  height: 8px;
  background: url(../img/stepline.png) no-repeat center top;
  position: absolute;
  left: 94px;
  top: 3px;
}
#order .orderNum .orderStep li b {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: url(../img/steplogo.png) no-repeat center top;
}
#order .orderNum .orderStep li p {
  font-size: 1rem;
  margin-top: 10px;
}
#order .orderNum .orderStep li span {
  font-size: 12px;
  color: #C0C0C0;
}
#order .orderNum .orderStep .finstep i {
  background: url(../img/stepline.png) no-repeat center bottom;
}
#order .orderNum .orderStep .finstep b {
  background: url(../img/steplogo.png) no-repeat center bottom;
}
#order .orderMsg {
  border: 1px solid #e7e7e7;
  padding: 20px;
}
#order .orderMsg li {
  margin-bottom: 8px;
  color: #64646e;
}
#order .orderMsg li span {
  display: inline-block;
  color: #000000;
}
#order #payBtn {
  width: 100%;
  text-align: -moz-right;
  text-align: -webkit-right;
  text-align: right;
  margin: 10px 0 30px;
}
#order #payBtn span {
  display: inline-block;
  padding: 0 8px;
  font-size: 22px;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: center;
}
