html,
body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
ul,
li {
  list-style: none;
}
#banner {
  height: 13.75rem;
  background: silver;
}
#mainContent .contentHead {
  height: 3.125rem;
}
#mainContent .col-lg-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#mainContent .itemContent {
  width: 100%;
  min-height: 256px;
  margin-bottom: 1.25rem;
}
#mainContent .itemContent a {
  text-decoration: none;
}
#mainContent .itemContent a .card img {
  max-width: 100%;
}
#mainContent .itemContent a .card .card-body {
  padding: 0.3125rem;
  border-top: 1px solid #e7e7e7;
}
#mainContent .itemContent a .card .card-body p {
  color: red;
}
#mainContent .itemContent a .card .card-body .item-title {
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
